/BlochsTech.Website.Base/obj
/BlochsTech.Website.Base/bin
/BlochsTech.Website.DataAccess/obj
/BlochsTech.Website.DataAccess/bin
/BlochsTech.Website.Domain/obj
/BlochsTech.Website.Domain/bin
/BlochsTech.Website.Service/obj
/BlochsTech.Website.Service/bin
