@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <p>
        BlochsTech is a small startup company made up of just me. I developed the BOBC card product, protocol and terminal app in my spare time, in the train going to work and in vacations.
    </p>
    <p>
		I want to thank my loving wife Olivia for all her sacrifice and unending support during those times.
    </p>
    <p>
        I hope the card will help all those who are not programmers or very technical to use Bitcoin easily.
    </p>
    <p>
        <b> Martin Clemens Bloch</b><br />
        3400 Hillerød<br />
        Denmark<br />
        Contact:<br />
        info@blochstech.com<br />
        (+45) 61 70 34 86<br />
    </p>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <img height="200" class="img-rounded" src="@Url.Content("~/Images/martin-clemens.png")" />
</div>
