@using System.Configuration
@model BlochsTech.Website.Base.ViewModel.PurchaseOrderViewModel
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    p {
        margin: 0;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="alert alert-success">
            Thank for you order!
        </div>        
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
   
</script>